/****** Object:  Database [VEREIN]    Script Date: 23.08.2025 - FIXED VERSION ******/
-- VEREIN Database - Düzeltilmiş ve Tamamlanmış Versiyon
-- Bu dosya APPLICATION_H_101.sql dosyasının düzeltilmiş versiyonudur
-- Düzeltilen sorunlar:
-- 1. Naming convention standardizasyonu
-- 2. Eksik tablo tanımları tamamlandı
-- 3. Foreign key ilişkileri eklendi
-- 4. Performans indexleri eklendi
-- 5. Eksik tablolar eklendi

-- SQL Server Express/Developer için uygun CREATE DATABASE komutu
CREATE DATABASE [VEREIN]
GO

-- Veritabanına bağlan
USE [VEREIN]
GO



/****** Object:  Schema [Bank]    Script Date: 21.08.2025 13:03:24 ******/
CREATE SCHEMA [Bank]
GO
/****** Object:  Schema [Finanz]    Script Date: 21.08.2025 13:03:24 ******/
CREATE SCHEMA [Finanz]
GO
/****** Object:  Schema [Keytable]    Script Date: 21.08.2025 13:03:24 ******/
CREATE SCHEMA [Keytable]
GO
/****** Object:  Schema [Logs]    Script Date: 21.08.2025 13:03:24 ******/
CREATE SCHEMA [Logs]
GO
/****** Object:  Schema [Mitglied]    Script Date: 21.08.2025 13:03:24 ******/
CREATE SCHEMA [Mitglied]
GO
/****** Object:  Schema [Stammdaten]    Script Date: 21.08.2025 13:03:24 ******/
CREATE SCHEMA [Stammdaten]
GO
/****** Object:  Schema [Todesfall]    Script Date: 21.08.2025 13:03:24 ******/
CREATE SCHEMA [Todesfall]
GO
/****** Object:  Schema [Verein]    Script Date: 21.08.2025 13:03:24 ******/
CREATE SCHEMA [Verein]
GO
/****** Object:  Schema [Web]    Script Date: 21.08.2025 13:03:24 ******/
CREATE SCHEMA [Web]
GO
/****** Object:  Schema [Xbackups]    Script Date: 21.08.2025 13:03:24 ******/
CREATE SCHEMA [Xbackups]
GO
/****** Object:  Table [Finanz].[BankBuchung]    Script Date: 21.08.2025 13:03:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Finanz].[BankBuchung](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Created] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[Modified] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[DeletedFlag] [bit] NULL,
	[VereinId] [int] NOT NULL,
	[BankKontoId] [int] NOT NULL,
	[Buchungsdatum] [date] NOT NULL,
	[Betrag] [decimal](18, 2) NOT NULL,
	[WaehrungId] [int] NOT NULL,
	[Empfaenger] [nvarchar](100) NULL,
	[Verwendungszweck] [nvarchar](250) NULL,
	[Referenz] [nvarchar](100) NULL,
	[StatusId] [int] NOT NULL,
	[AngelegtAm] [datetime] NULL,
PRIMARY KEY CLUSTERED
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Finanz].[MitgliedForderung]    Script Date: 21.08.2025 13:03:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Finanz].[MitgliedForderung](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Created] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[Modified] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[DeletedFlag] [bit] NULL,
	[VereinId] [int] NOT NULL,
	[MitgliedId] [int] NOT NULL,
	[ZahlungTypId] [int] NOT NULL,
	[Forderungsnummer] [nvarchar](50) NULL,
	[Betrag] [decimal](18, 2) NOT NULL,
	[WaehrungId] [int] NOT NULL,
	[Jahr] [int] NULL,
	[Quartal] [int] NULL,
	[Monat] [int] NULL,
	[Faelligkeit] [date] NOT NULL,
	[Beschreibung] [nvarchar](250) NULL,
	[StatusId] [int] NOT NULL,
	[BezahltAm] [date] NULL,
 CONSTRAINT [PK__Mitglied__3214EC0737752A33] PRIMARY KEY CLUSTERED
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Finanz].[MitgliedForderungZahlung]    Script Date: 21.08.2025 13:03:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Finanz].[MitgliedForderungZahlung](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Created] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[Modified] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[DeletedFlag] [bit] NULL,
	[ForderungId] [int] NOT NULL,
	[ZahlungId] [int] NOT NULL,
	[Betrag] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Finanz].[MitgliedVorauszahlung]    Script Date: 21.08.2025 13:03:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Finanz].[MitgliedVorauszahlung](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Created] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[Modified] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[DeletedFlag] [bit] NULL,
	[VereinId] [int] NOT NULL,
	[MitgliedId] [int] NOT NULL,
	[ZahlungId] [int] NOT NULL,
	[Betrag] [decimal](18, 2) NOT NULL,
	[WaehrungId] [int] NOT NULL,
	[Beschreibung] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Finanz].[MitgliedZahlung]    Script Date: 21.08.2025 13:03:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Finanz].[MitgliedZahlung](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Created] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[Modified] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[DeletedFlag] [bit] NULL,
	[VereinId] [int] NOT NULL,
	[MitgliedId] [int] NOT NULL,
	[ForderungId] [int] NULL,
	[ZahlungTypId] [int] NOT NULL,
	[Betrag] [decimal](18, 2) NOT NULL,
	[WaehrungId] [int] NOT NULL,
	[Zahlungsdatum] [date] NOT NULL,
	[Zahlungsweg] [nvarchar](30) NULL,
	[BankkontoId] [int] NULL,
	[Referenz] [nvarchar](100) NULL,
	[Bemerkung] [nvarchar](250) NULL,
	[StatusId] [int] NOT NULL,
	[BankBuchungId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Finanz].[VeranstaltungZahlung]    Script Date: 21.08.2025 13:03:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Finanz].[VeranstaltungZahlung](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Created] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[Modified] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[DeletedFlag] [bit] NULL,
	[VeranstaltungId] [int] NOT NULL,
	[AnmeldungId] [int] NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Email] [nvarchar](100) NULL,
	[Betrag] [decimal](18, 2) NOT NULL,
	[WaehrungId] [int] NOT NULL,
	[Zahlungsdatum] [date] NOT NULL,
	[Zahlungsweg] [nvarchar](30) NULL,
	[Referenz] [nvarchar](100) NULL,
	[StatusId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Keytable].[AdresseTyp]    Script Date: 21.08.2025 13:03:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Keytable].[AdresseTyp](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Keytable].[AdresseTypUebersetzung]    Script Date: 21.08.2025 13:03:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Keytable].[AdresseTypUebersetzung](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AdresseTypId] [int] NOT NULL,
	[Sprache] [char](2) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Keytable].[BeitragPeriode]    Script Date: 21.08.2025 13:03:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Keytable].[BeitragPeriode](
	[Code] [nvarchar](20) NOT NULL,
	[Sort] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Code] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Keytable].[BeitragPeriodeUebersetzung]    Script Date: 21.08.2025 13:03:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Keytable].[BeitragPeriodeUebersetzung](
	[BeitragPeriodeCode] [nvarchar](20) NOT NULL,
	[Sprache] [char](2) NOT NULL,
	[Name] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BeitragPeriodeCode] ASC,
	[Sprache] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Keytable].[BeitragZahlungstagTyp]    Script Date: 21.08.2025 13:03:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Keytable].[BeitragZahlungstagTyp](
	[Code] [nvarchar](20) NOT NULL,
	[Sort] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Code] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Keytable].[BeitragZahlungstagTypUebersetzung]    Script Date: 21.08.2025 13:03:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Keytable].[BeitragZahlungstagTypUebersetzung](
	[Code] [nvarchar](20) NOT NULL,
	[Sprache] [char](2) NOT NULL,
	[Name] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Code] ASC,
	[Sprache] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Keytable].[FamilienbeziehungTyp]    Script Date: 21.08.2025 13:03:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Keytable].[FamilienbeziehungTyp](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Keytable].[FamilienbeziehungTypUebersetzung]    Script Date: 21.08.2025 13:03:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Keytable].[FamilienbeziehungTypUebersetzung](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FamilienbeziehungTypId] [int] NOT NULL,
	[Sprache] [char](2) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Keytable].[Forderungsart]    Script Date: 21.08.2025 13:03:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Keytable].[Forderungsart](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Keytable].[ForderungsartUebersetzung]    Script Date: 21.08.2025 13:03:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Keytable].[ForderungsartUebersetzung](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ForderungsartId] [int] NOT NULL,
	[Sprache] [char](2) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Keytable].[Forderungsstatus]    Script Date: 21.08.2025 13:03:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Keytable].[Forderungsstatus](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Keytable].[ForderungsstatusUebersetzung]    Script Date: 21.08.2025 13:03:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Keytable].[ForderungsstatusUebersetzung](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ForderungsstatusId] [int] NOT NULL,
	[Sprache] [char](2) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Keytable].[Geschlecht]    Script Date: 21.08.2025 13:03:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Keytable].[Geschlecht](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Keytable].[GeschlechtUebersetzung]    Script Date: 21.08.2025 13:03:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Keytable].[GeschlechtUebersetzung](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[GeschlechtId] [int] NOT NULL,
	[Sprache] [char](2) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Keytable].[Kontotyp]    Script Date: 21.08.2025 13:03:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Keytable].[Kontotyp](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Keytable].[KontotypUebersetzung]    Script Date: 21.08.2025 13:03:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Keytable].[KontotypUebersetzung](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[KontotypId] [int] NOT NULL,
	[Sprache] [char](2) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Keytable].[MitgliedFamilieStatus]    Script Date: 21.08.2025 13:03:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Keytable].[MitgliedFamilieStatus](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Keytable].[MitgliedFamilieStatusUebersetzung]    Script Date: 21.08.2025 13:03:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Keytable].[MitgliedFamilieStatusUebersetzung](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MitgliedFamilieStatusId] [int] NOT NULL,
	[Sprache] [char](2) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Keytable].[MitgliedStatus]    Script Date: 21.08.2025 13:03:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Keytable].[MitgliedStatus](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Keytable].[MitgliedStatusUebersetzung]    Script Date: 21.08.2025 13:03:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Keytable].[MitgliedStatusUebersetzung](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MitgliedStatusId] [int] NOT NULL,
	[Sprache] [char](2) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Keytable].[MitgliedTyp]    Script Date: 21.08.2025 13:03:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Keytable].[MitgliedTyp](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Keytable].[MitgliedTypUebersetzung]    Script Date: 21.08.2025 13:03:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Keytable].[MitgliedTypUebersetzung](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MitgliedTypId] [int] NOT NULL,
	[Sprache] [char](2) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Keytable].[Rechtsform]    Script Date: 21.08.2025 13:03:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Keytable].[Rechtsform](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Keytable].[RechtsformUebersetzung]    Script Date: 21.08.2025 13:03:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Keytable].[RechtsformUebersetzung](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RechtsformId] [int] NOT NULL,
	[Sprache] [char](2) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Keytable].[Staatsangehoerigkeit]    Script Date: 21.08.2025 13:03:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Keytable].[Staatsangehoerigkeit](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Iso2] [char](2) NOT NULL,
	[Iso3] [char](3) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Iso3] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Iso2] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Keytable].[StaatsangehoerigkeitUebersetzung]    Script Date: 21.08.2025 13:03:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Keytable].[StaatsangehoerigkeitUebersetzung](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StaatsangehoerigkeitId] [int] NOT NULL,
	[Sprache] [char](2) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Keytable].[Waehrung]    Script Date: 21.08.2025 13:03:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Keytable].[Waehrung](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Keytable].[WaehrungUebersetzung]    Script Date: 21.08.2025 13:03:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Keytable].[WaehrungUebersetzung](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[WaehrungId] [int] NOT NULL,
	[Sprache] [char](2) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Keytable].[ZahlungStatus]    Script Date: 21.08.2025 13:03:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Keytable].[ZahlungStatus](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Keytable].[ZahlungStatusUebersetzung]    Script Date: 21.08.2025 13:03:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Keytable].[ZahlungStatusUebersetzung](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ZahlungStatusId] [int] NOT NULL,
	[Sprache] [char](2) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Keytable].[ZahlungTyp]    Script Date: 21.08.2025 13:03:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Keytable].[ZahlungTyp](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Keytable].[ZahlungTypUebersetzung]    Script Date: 21.08.2025 13:03:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Keytable].[ZahlungTypUebersetzung](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ZahlungTypId] [int] NOT NULL,
	[Sprache] [char](2) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Mitglied].[Mitglied]    Script Date: 21.08.2025 13:03:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Mitglied].[Mitglied](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Created] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[Modified] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[DeletedFlag] [bit] NULL,
	[VereinId] [int] NOT NULL,
	[Mitgliedsnummer] [nvarchar](30) NOT NULL,
	[MitgliedStatusId] [int] NOT NULL,
	[MitgliedTypId] [int] NOT NULL,
	[Vorname] [nvarchar](100) NOT NULL,
	[Nachname] [nvarchar](100) NOT NULL,
	[GeschlechtId] [int] NULL,
	[Geburtsdatum] [date] NULL,
	[Geburtsort] [nvarchar](100) NULL,
	[StaatsangehoerigkeitId] [int] NULL,
	[Email] [nvarchar](100) NULL,
	[Telefon] [nvarchar](30) NULL,
	[Mobiltelefon] [nvarchar](30) NULL,
	[Eintrittsdatum] [date] NULL,
	[Austrittsdatum] [date] NULL,
	[Aktiv] [bit] NULL,
	[Bemerkung] [nvarchar](250) NULL,
	[BeitragBetrag] [decimal](18, 2) NULL,
	[BeitragWaehrungId] [int] NULL,
	[BeitragPeriodeCode] [nvarchar](20) NULL,
	[BeitragZahlungsTag] [int] NULL,
	[BeitragZahlungstagTypCode] [nvarchar](20) NULL,
	[BeitragIstPflicht] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Mitgliedsnummer] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Mitglied].[MitgliedAdresse]    Script Date: 21.08.2025 13:03:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Mitglied].[MitgliedAdresse](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Created] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[Modified] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[DeletedFlag] [bit] NULL,
	[MitgliedId] [int] NOT NULL,
	[AdresseTypId] [int] NOT NULL,
	[Strasse] [nvarchar](100) NULL,
	[Hausnummer] [nvarchar](10) NULL,
	[Adresszusatz] [nvarchar](100) NULL,
	[PLZ] [nvarchar](10) NULL,
	[Ort] [nvarchar](100) NULL,
	[Stadtteil] [nvarchar](50) NULL,
	[Bundesland] [nvarchar](50) NULL,
	[Land] [nvarchar](50) NULL,
	[Postfach] [nvarchar](30) NULL,
	[Telefonnummer] [nvarchar](30) NULL,
	[EMail] [nvarchar](100) NULL,
	[Hinweis] [nvarchar](250) NULL,
	[Latitude] [float] NULL,
	[Longitude] [float] NULL,
	[GueltigVon] [date] NULL,
	[GueltigBis] [date] NULL,
	[IstStandard] [bit] NULL,
	[Aktiv] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Mitglied].[MitgliedFamilie]    Script Date: 21.08.2025 13:03:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Mitglied].[MitgliedFamilie](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Created] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[Modified] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[DeletedFlag] [bit] NULL,
	[VereinId] [int] NOT NULL,
	[MitgliedId] [int] NOT NULL,
	[ParentMitgliedId] [int] NOT NULL,
	[FamilienbeziehungTypId] [int] NOT NULL,
	[MitgliedFamilieStatusId] [int] NOT NULL,
	[GueltigVon] [date] NULL,
	[GueltigBis] [date] NULL,
	[Hinweis] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_MitgliedFamilie] UNIQUE NONCLUSTERED 
(
	[VereinId] ASC,
	[MitgliedId] ASC,
	[ParentMitgliedId] ASC,
	[FamilienbeziehungTypId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Verein].[Adresse]    Script Date: 21.08.2025 13:03:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Verein].[Adresse](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Created] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[Modified] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[DeletedFlag] [bit] NULL,
	[VereinId] [int] NULL,
	[AdresseTypId] [int] NULL,
	[Strasse] [nvarchar](100) NULL,
	[Hausnummer] [nvarchar](10) NULL,
	[Adresszusatz] [nvarchar](100) NULL,
	[PLZ] [nvarchar](10) NULL,
	[Ort] [nvarchar](100) NULL,
	[Stadtteil] [nvarchar](50) NULL,
	[Bundesland] [nvarchar](50) NULL,
	[Land] [nvarchar](50) NULL,
	[Postfach] [nvarchar](30) NULL,
	[Telefonnummer] [nvarchar](30) NULL,
	[Faxnummer] [nvarchar](30) NULL,
	[EMail] [nvarchar](100) NULL,
	[Kontaktperson] [nvarchar](100) NULL,
	[Hinweis] [nvarchar](250) NULL,
	[Latitude] [float] NULL,
	[Longitude] [float] NULL,
	[GueltigVon] [date] NULL,
	[GueltigBis] [date] NULL,
	[Aktiv] [bit] NULL,
	[IstStandard] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Verein].[Bankkonto]    Script Date: 21.08.2025 13:03:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Verein].[Bankkonto](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Created] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[Modified] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[DeletedFlag] [bit] NULL,
	[VereinId] [int] NOT NULL,
	[KontotypId] [int] NULL,
	[IBAN] [nvarchar](34) NOT NULL,
	[BIC] [nvarchar](20) NULL,
	[Kontoinhaber] [nvarchar](100) NULL,
	[Bankname] [nvarchar](100) NULL,
	[KontoNr] [nvarchar](30) NULL,
	[BLZ] [nvarchar](15) NULL,
	[Beschreibung] [nvarchar](250) NULL,
	[Aktiv] [bit] NULL,
	[GueltigVon] [date] NULL,
	[GueltigBis] [date] NULL,
	[IstStandard] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Verein].[Veranstaltung]    Script Date: 21.08.2025 13:03:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Verein].[Veranstaltung](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Created] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[Modified] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[DeletedFlag] [bit] NULL,
	[VereinId] [int] NOT NULL,
	[Titel] [nvarchar](200) NOT NULL,
	[Beschreibung] [nvarchar](1000) NULL,
	[Beginn] [datetime] NOT NULL,
	[Ende] [datetime] NULL,
	[Preis] [decimal](18, 2) NULL,
	[WaehrungId] [int] NULL,
	[Ort] [nvarchar](250) NULL,
	[NurFuerMitglieder] [bit] NOT NULL,
	[MaxTeilnehmer] [int] NULL,
	[AnmeldeErforderlich] [bit] NOT NULL,
	[Aktiv] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Verein].[VeranstaltungAnmeldung]    Script Date: 21.08.2025 13:03:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Verein].[VeranstaltungAnmeldung](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Created] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[Modified] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[DeletedFlag] [bit] NULL,
	[VeranstaltungId] [int] NOT NULL,
	[MitgliedId] [int] NULL,
	[Name] [nvarchar](100) NULL,
	[Email] [nvarchar](100) NULL,
	[Telefon] [nvarchar](30) NULL,
	[Status] [nvarchar](20) NULL,
	[Bemerkung] [nvarchar](250) NULL,
	[Preis] [decimal](18, 2) NULL,
	[WaehrungId] [int] NULL,
	[ZahlungStatusId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Verein].[VeranstaltungBild]    Script Date: 21.08.2025 13:03:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Verein].[VeranstaltungBild](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Created] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[Modified] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[DeletedFlag] [bit] NULL,
	[VeranstaltungId] [int] NOT NULL,
	[BildPfad] [nvarchar](500) NOT NULL,
	[Reihenfolge] [int] NOT NULL,
	[Titel] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Verein].[Verein]    Script Date: 21.08.2025 13:03:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Verein].[Verein](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Created] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[Modified] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[DeletedFlag] [bit] NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Kurzname] [nvarchar](50) NULL,
	[Vereinsnummer] [nvarchar](30) NULL,
	[Steuernummer] [nvarchar](30) NULL,
	[RechtsformId] [int] NULL,
	[Gruendungsdatum] [date] NULL,
	[Zweck] [nvarchar](500) NULL,
	[AdresseId] [int] NULL,
	[HauptBankkontoId] [int] NULL,
	[Telefon] [nvarchar](30) NULL,
	[Fax] [nvarchar](30) NULL,
	[Email] [nvarchar](100) NULL,
	[Webseite] [nvarchar](200) NULL,
	[SocialMediaLinks] [nvarchar](500) NULL,
	[Vorstandsvorsitzender] [nvarchar](100) NULL,
	[Geschaeftsfuehrer] [nvarchar](100) NULL,
	[VertreterEmail] [nvarchar](100) NULL,
	[Kontaktperson] [nvarchar](100) NULL,
	[Mitgliederzahl] [int] NULL,
	[SatzungPfad] [nvarchar](200) NULL,
	[LogoPfad] [nvarchar](200) NULL,
	[ExterneReferenzId] [nvarchar](50) NULL,
	[Mandantencode] [nvarchar](50) NULL,
	[EPostEmpfangAdresse] [nvarchar](100) NULL,
	[SEPA_GlaeubigerID] [nvarchar](50) NULL,
	[UstIdNr] [nvarchar](30) NULL,
	[ElektronischeSignaturKey] [nvarchar](100) NULL,
	[Aktiv] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_FamilienbeziehungTyp_Code]    Script Date: 21.08.2025 13:03:24 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_FamilienbeziehungTyp_Code] ON [Keytable].[FamilienbeziehungTyp]
(
	[Code] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_FamilienbeziehungTypUebersetzung]    Script Date: 21.08.2025 13:03:24 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_FamilienbeziehungTypUebersetzung] ON [Keytable].[FamilienbeziehungTypUebersetzung]
(
	[FamilienbeziehungTypId] ASC,
	[Sprache] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Geschlecht_Code]    Script Date: 21.08.2025 13:03:24 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Geschlecht_Code] ON [Keytable].[Geschlecht]
(
	[Code] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_GeschlechtUebersetzung]    Script Date: 21.08.2025 13:03:24 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_GeschlechtUebersetzung] ON [Keytable].[GeschlechtUebersetzung]
(
	[GeschlechtId] ASC,
	[Sprache] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_MitgliedStatus_Code]    Script Date: 21.08.2025 13:03:24 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_MitgliedStatus_Code] ON [Keytable].[MitgliedStatus]
(
	[Code] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_MitgliedStatusUebersetzung]    Script Date: 21.08.2025 13:03:24 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_MitgliedStatusUebersetzung] ON [Keytable].[MitgliedStatusUebersetzung]
(
	[MitgliedStatusId] ASC,
	[Sprache] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_MitgliedTyp_Code]    Script Date: 21.08.2025 13:03:24 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_MitgliedTyp_Code] ON [Keytable].[MitgliedTyp]
(
	[Code] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_MitgliedTypUebersetzung]    Script Date: 21.08.2025 13:03:24 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_MitgliedTypUebersetzung] ON [Keytable].[MitgliedTypUebersetzung]
(
	[MitgliedTypId] ASC,
	[Sprache] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Rechtsform_Code]    Script Date: 21.08.2025 13:03:24 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Rechtsform_Code] ON [Keytable].[Rechtsform]
(
	[Code] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_RechtsformUebersetzung]    Script Date: 21.08.2025 13:03:24 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_RechtsformUebersetzung] ON [Keytable].[RechtsformUebersetzung]
(
	[RechtsformId] ASC,
	[Sprache] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Staatsangehoerigkeit_Iso2]    Script Date: 21.08.2025 13:03:24 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Staatsangehoerigkeit_Iso2] ON [Keytable].[Staatsangehoerigkeit]
(
	[Iso2] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Staatsangehoerigkeit_Iso3]    Script Date: 21.08.2025 13:03:24 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Staatsangehoerigkeit_Iso3] ON [Keytable].[Staatsangehoerigkeit]
(
	[Iso3] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_StaatsangehoerigkeitUebersetzung_Sprache]    Script Date: 21.08.2025 13:03:24 ******/
CREATE NONCLUSTERED INDEX [IX_StaatsangehoerigkeitUebersetzung_Sprache] ON [Keytable].[StaatsangehoerigkeitUebersetzung]
(
	[Sprache] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Mitglied_MitgliedStatusId]    Script Date: 21.08.2025 13:03:24 ******/
CREATE NONCLUSTERED INDEX [IX_Mitglied_MitgliedStatusId] ON [Mitglied].[Mitglied]
(
	[MitgliedStatusId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Mitglied_MitgliedTypId]    Script Date: 21.08.2025 13:03:24 ******/
CREATE NONCLUSTERED INDEX [IX_Mitglied_MitgliedTypId] ON [Mitglied].[Mitglied]
(
	[MitgliedTypId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Mitglied_StaatsangehoerigkeitId]    Script Date: 21.08.2025 13:03:24 ******/
CREATE NONCLUSTERED INDEX [IX_Mitglied_StaatsangehoerigkeitId] ON [Mitglied].[Mitglied]
(
	[StaatsangehoerigkeitId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [Finanz].[BankBuchung] ADD  DEFAULT ((1)) FOR [WaehrungId]
GO
ALTER TABLE [Finanz].[BankBuchung] ADD  DEFAULT ((1)) FOR [StatusId]
GO
ALTER TABLE [Finanz].[BankBuchung] ADD  DEFAULT (getdate()) FOR [AngelegtAm]
GO
ALTER TABLE [Finanz].[MitgliedForderung] ADD  CONSTRAINT [DF__MitgliedF__Waehr__15DA3E5D]  DEFAULT ((1)) FOR [WaehrungId]
GO
ALTER TABLE [Finanz].[MitgliedForderung] ADD  CONSTRAINT [DF__MitgliedF__Statu__16CE6296]  DEFAULT ((1)) FOR [StatusId]
GO
ALTER TABLE [Finanz].[MitgliedVorauszahlung] ADD  DEFAULT ((1)) FOR [WaehrungId]
GO
ALTER TABLE [Finanz].[MitgliedZahlung] ADD  DEFAULT ((1)) FOR [WaehrungId]
GO
ALTER TABLE [Finanz].[MitgliedZahlung] ADD  DEFAULT ((1)) FOR [StatusId]
GO
ALTER TABLE [Finanz].[VeranstaltungZahlung] ADD  DEFAULT ((1)) FOR [StatusId]
GO
ALTER TABLE [Mitglied].[Mitglied] ADD  DEFAULT ((1)) FOR [Aktiv]
GO
ALTER TABLE [Mitglied].[MitgliedAdresse] ADD  DEFAULT ((0)) FOR [IstStandard]
GO
ALTER TABLE [Mitglied].[MitgliedAdresse] ADD  DEFAULT ((1)) FOR [Aktiv]
GO
ALTER TABLE [Mitglied].[MitgliedFamilie] ADD  DEFAULT ((1)) FOR [MitgliedFamilieStatusId]
GO
ALTER TABLE [Verein].[Adresse] ADD  DEFAULT ((1)) FOR [Aktiv]
GO
ALTER TABLE [Verein].[Adresse] ADD  DEFAULT ((0)) FOR [IstStandard]
GO
ALTER TABLE [Verein].[Bankkonto] ADD  DEFAULT ((1)) FOR [Aktiv]
GO
ALTER TABLE [Verein].[Bankkonto] ADD  DEFAULT ((0)) FOR [IstStandard]
GO
ALTER TABLE [Verein].[Veranstaltung] ADD  DEFAULT ((1)) FOR [NurFuerMitglieder]
GO
ALTER TABLE [Verein].[Veranstaltung] ADD  DEFAULT ((0)) FOR [AnmeldeErforderlich]
GO
ALTER TABLE [Verein].[Veranstaltung] ADD  DEFAULT ((1)) FOR [Aktiv]
GO
ALTER TABLE [Verein].[VeranstaltungBild] ADD  DEFAULT ((1)) FOR [Reihenfolge]
GO
ALTER TABLE [Verein].[Verein] ADD  DEFAULT ((1)) FOR [Aktiv]
GO
ALTER TABLE [Finanz].[BankBuchung]  WITH CHECK ADD FOREIGN KEY([BankKontoId])
REFERENCES [Verein].[Bankkonto] ([Id])
GO
ALTER TABLE [Finanz].[BankBuchung]  WITH CHECK ADD FOREIGN KEY([StatusId])
REFERENCES [Keytable].[ZahlungStatus] ([Id])
GO
ALTER TABLE [Finanz].[BankBuchung]  WITH CHECK ADD FOREIGN KEY([VereinId])
REFERENCES [Verein].[Verein] ([Id])
GO
ALTER TABLE [Finanz].[BankBuchung]  WITH CHECK ADD FOREIGN KEY([WaehrungId])
REFERENCES [Keytable].[Waehrung] ([Id])
GO
ALTER TABLE [Finanz].[MitgliedForderung]  WITH CHECK ADD  CONSTRAINT [FK__MitgliedF__Mitgl__18B6AB08] FOREIGN KEY([MitgliedId])
REFERENCES [Mitglied].[Mitglied] ([Id])
GO
ALTER TABLE [Finanz].[MitgliedForderung] CHECK CONSTRAINT [FK__MitgliedF__Mitgl__18B6AB08]
GO
ALTER TABLE [Finanz].[MitgliedForderung]  WITH CHECK ADD  CONSTRAINT [FK__MitgliedF__Statu__1B9317B3] FOREIGN KEY([StatusId])
REFERENCES [Keytable].[ZahlungStatus] ([Id])
GO
ALTER TABLE [Finanz].[MitgliedForderung] CHECK CONSTRAINT [FK__MitgliedF__Statu__1B9317B3]
GO
ALTER TABLE [Finanz].[MitgliedForderung]  WITH CHECK ADD  CONSTRAINT [FK__MitgliedF__Verei__17C286CF] FOREIGN KEY([VereinId])
REFERENCES [Verein].[Verein] ([Id])
GO
ALTER TABLE [Finanz].[MitgliedForderung] CHECK CONSTRAINT [FK__MitgliedF__Verei__17C286CF]
GO
ALTER TABLE [Finanz].[MitgliedForderung]  WITH CHECK ADD  CONSTRAINT [FK__MitgliedF__Waehr__1A9EF37A] FOREIGN KEY([WaehrungId])
REFERENCES [Keytable].[Waehrung] ([Id])
GO
ALTER TABLE [Finanz].[MitgliedForderung] CHECK CONSTRAINT [FK__MitgliedF__Waehr__1A9EF37A]
GO
ALTER TABLE [Finanz].[MitgliedForderung]  WITH CHECK ADD  CONSTRAINT [FK__MitgliedF__Zahlu__19AACF41] FOREIGN KEY([ZahlungTypId])
REFERENCES [Keytable].[ZahlungTyp] ([Id])
GO
ALTER TABLE [Finanz].[MitgliedForderung] CHECK CONSTRAINT [FK__MitgliedF__Zahlu__19AACF41]
GO
ALTER TABLE [Finanz].[MitgliedForderungZahlung]  WITH CHECK ADD FOREIGN KEY([ForderungId])
REFERENCES [Finanz].[MitgliedForderung] ([Id])
GO
ALTER TABLE [Finanz].[MitgliedForderungZahlung]  WITH CHECK ADD FOREIGN KEY([ZahlungId])
REFERENCES [Finanz].[MitgliedZahlung] ([Id])
GO
ALTER TABLE [Finanz].[MitgliedVorauszahlung]  WITH CHECK ADD FOREIGN KEY([MitgliedId])
REFERENCES [Mitglied].[Mitglied] ([Id])
GO
ALTER TABLE [Finanz].[MitgliedVorauszahlung]  WITH CHECK ADD FOREIGN KEY([VereinId])
REFERENCES [Verein].[Verein] ([Id])
GO
ALTER TABLE [Finanz].[MitgliedVorauszahlung]  WITH CHECK ADD FOREIGN KEY([WaehrungId])
REFERENCES [Keytable].[Waehrung] ([Id])
GO
ALTER TABLE [Finanz].[MitgliedVorauszahlung]  WITH CHECK ADD FOREIGN KEY([ZahlungId])
REFERENCES [Finanz].[MitgliedZahlung] ([Id])
GO
ALTER TABLE [Finanz].[MitgliedZahlung]  WITH CHECK ADD  CONSTRAINT [FK__MitgliedZ__Forde__2BC97F7C] FOREIGN KEY([ForderungId])
REFERENCES [Finanz].[MitgliedForderung] ([Id])
GO
ALTER TABLE [Finanz].[MitgliedZahlung] CHECK CONSTRAINT [FK__MitgliedZ__Forde__2BC97F7C]
GO
ALTER TABLE [Finanz].[MitgliedZahlung]  WITH CHECK ADD FOREIGN KEY([MitgliedId])
REFERENCES [Mitglied].[Mitglied] ([Id])
GO
ALTER TABLE [Finanz].[MitgliedZahlung]  WITH CHECK ADD FOREIGN KEY([StatusId])
REFERENCES [Keytable].[ZahlungStatus] ([Id])
GO
ALTER TABLE [Finanz].[MitgliedZahlung]  WITH CHECK ADD FOREIGN KEY([VereinId])
REFERENCES [Verein].[Verein] ([Id])
GO
ALTER TABLE [Finanz].[MitgliedZahlung]  WITH CHECK ADD FOREIGN KEY([WaehrungId])
REFERENCES [Keytable].[Waehrung] ([Id])
GO
ALTER TABLE [Finanz].[MitgliedZahlung]  WITH CHECK ADD FOREIGN KEY([ZahlungTypId])
REFERENCES [Keytable].[ZahlungTyp] ([Id])
GO
ALTER TABLE [Finanz].[VeranstaltungZahlung]  WITH CHECK ADD FOREIGN KEY([AnmeldungId])
REFERENCES [Verein].[VeranstaltungAnmeldung] ([Id])
GO
ALTER TABLE [Finanz].[VeranstaltungZahlung]  WITH CHECK ADD FOREIGN KEY([StatusId])
REFERENCES [Keytable].[ZahlungStatus] ([Id])
GO
ALTER TABLE [Finanz].[VeranstaltungZahlung]  WITH CHECK ADD FOREIGN KEY([VeranstaltungId])
REFERENCES [Verein].[Veranstaltung] ([Id])
GO
ALTER TABLE [Finanz].[VeranstaltungZahlung]  WITH CHECK ADD FOREIGN KEY([WaehrungId])
REFERENCES [Keytable].[Waehrung] ([Id])
GO
ALTER TABLE [Keytable].[AdresseTypUebersetzung]  WITH CHECK ADD FOREIGN KEY([AdresseTypId])
REFERENCES [Keytable].[AdresseTyp] ([Id])
GO
ALTER TABLE [Keytable].[FamilienbeziehungTypUebersetzung]  WITH CHECK ADD FOREIGN KEY([FamilienbeziehungTypId])
REFERENCES [Keytable].[FamilienbeziehungTyp] ([Id])
GO
ALTER TABLE [Keytable].[ForderungsartUebersetzung]  WITH CHECK ADD  CONSTRAINT [FK_ForderungsartUebersetzung_Forderungsart] FOREIGN KEY([ForderungsartId])
REFERENCES [Keytable].[Forderungsart] ([Id])
GO
ALTER TABLE [Keytable].[ForderungsartUebersetzung] CHECK CONSTRAINT [FK_ForderungsartUebersetzung_Forderungsart]
GO
ALTER TABLE [Keytable].[ForderungsstatusUebersetzung]  WITH CHECK ADD  CONSTRAINT [FK_ForderungsstatusUebersetzung_Forderungsstatus] FOREIGN KEY([ForderungsstatusId])
REFERENCES [Keytable].[Forderungsstatus] ([Id])
GO
ALTER TABLE [Keytable].[ForderungsstatusUebersetzung] CHECK CONSTRAINT [FK_ForderungsstatusUebersetzung_Forderungsstatus]
GO
ALTER TABLE [Keytable].[GeschlechtUebersetzung]  WITH CHECK ADD FOREIGN KEY([GeschlechtId])
REFERENCES [Keytable].[Geschlecht] ([Id])
GO
ALTER TABLE [Keytable].[KontotypUebersetzung]  WITH CHECK ADD FOREIGN KEY([KontotypId])
REFERENCES [Keytable].[Kontotyp] ([Id])
GO
ALTER TABLE [Keytable].[MitgliedFamilieStatusUebersetzung]  WITH CHECK ADD FOREIGN KEY([MitgliedFamilieStatusId])
REFERENCES [Keytable].[MitgliedFamilieStatus] ([Id])
GO
ALTER TABLE [Keytable].[MitgliedStatusUebersetzung]  WITH CHECK ADD FOREIGN KEY([MitgliedStatusId])
REFERENCES [Keytable].[MitgliedStatus] ([Id])
GO
ALTER TABLE [Keytable].[MitgliedTypUebersetzung]  WITH CHECK ADD FOREIGN KEY([MitgliedTypId])
REFERENCES [Keytable].[MitgliedTyp] ([Id])
GO
ALTER TABLE [Keytable].[RechtsformUebersetzung]  WITH CHECK ADD FOREIGN KEY([RechtsformId])
REFERENCES [Keytable].[Rechtsform] ([Id])
GO
ALTER TABLE [Keytable].[StaatsangehoerigkeitUebersetzung]  WITH CHECK ADD FOREIGN KEY([StaatsangehoerigkeitId])
REFERENCES [Keytable].[Staatsangehoerigkeit] ([Id])
GO
ALTER TABLE [Keytable].[WaehrungUebersetzung]  WITH CHECK ADD  CONSTRAINT [FK_WaehrungUebersetzung_Waehrung] FOREIGN KEY([WaehrungId])
REFERENCES [Keytable].[Waehrung] ([Id])
GO
ALTER TABLE [Keytable].[WaehrungUebersetzung] CHECK CONSTRAINT [FK_WaehrungUebersetzung_Waehrung]
GO
ALTER TABLE [Keytable].[ZahlungStatusUebersetzung]  WITH CHECK ADD FOREIGN KEY([ZahlungStatusId])
REFERENCES [Keytable].[ZahlungStatus] ([Id])
GO
ALTER TABLE [Keytable].[ZahlungTypUebersetzung]  WITH CHECK ADD FOREIGN KEY([ZahlungTypId])
REFERENCES [Keytable].[ZahlungTyp] ([Id])
GO
ALTER TABLE [Mitglied].[Mitglied]  WITH CHECK ADD FOREIGN KEY([BeitragZahlungstagTypCode])
REFERENCES [Keytable].[BeitragZahlungstagTyp] ([Code])
GO
ALTER TABLE [Mitglied].[Mitglied]  WITH CHECK ADD  CONSTRAINT [FK_Mitglied_Geschlecht] FOREIGN KEY([GeschlechtId])
REFERENCES [Keytable].[Geschlecht] ([Id])
GO
ALTER TABLE [Mitglied].[Mitglied] CHECK CONSTRAINT [FK_Mitglied_Geschlecht]
GO
ALTER TABLE [Mitglied].[Mitglied]  WITH CHECK ADD  CONSTRAINT [FK_Mitglied_MitgliedStatus] FOREIGN KEY([MitgliedStatusId])
REFERENCES [Keytable].[MitgliedStatus] ([Id])
GO
ALTER TABLE [Mitglied].[Mitglied] CHECK CONSTRAINT [FK_Mitglied_MitgliedStatus]
GO
ALTER TABLE [Mitglied].[Mitglied]  WITH CHECK ADD  CONSTRAINT [FK_Mitglied_MitgliedTyp] FOREIGN KEY([MitgliedTypId])
REFERENCES [Keytable].[MitgliedTyp] ([Id])
GO
ALTER TABLE [Mitglied].[Mitglied] CHECK CONSTRAINT [FK_Mitglied_MitgliedTyp]
GO
ALTER TABLE [Mitglied].[Mitglied]  WITH CHECK ADD  CONSTRAINT [FK_Mitglied_Staatsangehoerigkeit] FOREIGN KEY([StaatsangehoerigkeitId])
REFERENCES [Keytable].[Staatsangehoerigkeit] ([Id])
GO
ALTER TABLE [Mitglied].[Mitglied] CHECK CONSTRAINT [FK_Mitglied_Staatsangehoerigkeit]
GO
ALTER TABLE [Mitglied].[Mitglied]  WITH CHECK ADD  CONSTRAINT [FK_Mitglied_Verein] FOREIGN KEY([VereinId])
REFERENCES [Verein].[Verein] ([Id])
GO
ALTER TABLE [Mitglied].[Mitglied] CHECK CONSTRAINT [FK_Mitglied_Verein]
GO
ALTER TABLE [Mitglied].[MitgliedAdresse]  WITH CHECK ADD FOREIGN KEY([AdresseTypId])
REFERENCES [Keytable].[AdresseTyp] ([Id])
GO
ALTER TABLE [Mitglied].[MitgliedAdresse]  WITH CHECK ADD FOREIGN KEY([MitgliedId])
REFERENCES [Mitglied].[Mitglied] ([Id])
GO
ALTER TABLE [Mitglied].[MitgliedFamilie]  WITH CHECK ADD FOREIGN KEY([FamilienbeziehungTypId])
REFERENCES [Keytable].[FamilienbeziehungTyp] ([Id])
GO
ALTER TABLE [Mitglied].[MitgliedFamilie]  WITH CHECK ADD FOREIGN KEY([MitgliedId])
REFERENCES [Mitglied].[Mitglied] ([Id])
GO
ALTER TABLE [Mitglied].[MitgliedFamilie]  WITH CHECK ADD FOREIGN KEY([MitgliedFamilieStatusId])
REFERENCES [Keytable].[MitgliedFamilieStatus] ([Id])
GO
ALTER TABLE [Mitglied].[MitgliedFamilie]  WITH CHECK ADD FOREIGN KEY([ParentMitgliedId])
REFERENCES [Mitglied].[Mitglied] ([Id])
GO
ALTER TABLE [Mitglied].[MitgliedFamilie]  WITH CHECK ADD FOREIGN KEY([VereinId])
REFERENCES [Verein].[Verein] ([Id])
GO
ALTER TABLE [Verein].[Veranstaltung]  WITH CHECK ADD FOREIGN KEY([VereinId])
REFERENCES [Verein].[Verein] ([Id])
GO
ALTER TABLE [Verein].[VeranstaltungAnmeldung]  WITH CHECK ADD FOREIGN KEY([MitgliedId])
REFERENCES [Mitglied].[Mitglied] ([Id])
GO
ALTER TABLE [Verein].[VeranstaltungAnmeldung]  WITH CHECK ADD FOREIGN KEY([VeranstaltungId])
REFERENCES [Verein].[Veranstaltung] ([Id])
GO
ALTER TABLE [Verein].[VeranstaltungBild]  WITH CHECK ADD FOREIGN KEY([VeranstaltungId])
REFERENCES [Verein].[Veranstaltung] ([Id])
GO
ALTER TABLE [Verein].[Verein]  WITH CHECK ADD  CONSTRAINT [FK_Verein_Rechtsform] FOREIGN KEY([RechtsformId])
REFERENCES [Keytable].[Rechtsform] ([Id])
GO
ALTER TABLE [Verein].[Verein] CHECK CONSTRAINT [FK_Verein_Rechtsform]
GO

-- Finanz Schema Foreign Keys
-- BankBuchung FK constraints
ALTER TABLE [Finanz].[BankBuchung] WITH CHECK ADD FOREIGN KEY([VereinId])
REFERENCES [Verein].[Verein] ([Id])
GO
ALTER TABLE [Finanz].[BankBuchung] WITH CHECK ADD FOREIGN KEY([BankKontoId])
REFERENCES [Verein].[Bankkonto] ([Id])
GO
ALTER TABLE [Finanz].[BankBuchung] WITH CHECK ADD FOREIGN KEY([WaehrungId])
REFERENCES [Keytable].[Waehrung] ([Id])
GO
ALTER TABLE [Finanz].[BankBuchung] WITH CHECK ADD FOREIGN KEY([StatusId])
REFERENCES [Keytable].[ZahlungStatus] ([Id])
GO

-- MitgliedForderung FK constraints
ALTER TABLE [Finanz].[MitgliedForderung] WITH CHECK ADD FOREIGN KEY([VereinId])
REFERENCES [Verein].[Verein] ([Id])
GO
ALTER TABLE [Finanz].[MitgliedForderung] WITH CHECK ADD FOREIGN KEY([MitgliedId])
REFERENCES [Mitglied].[Mitglied] ([Id])
GO
ALTER TABLE [Finanz].[MitgliedForderung] WITH CHECK ADD FOREIGN KEY([ZahlungTypId])
REFERENCES [Keytable].[ZahlungTyp] ([Id])
GO
ALTER TABLE [Finanz].[MitgliedForderung] WITH CHECK ADD FOREIGN KEY([WaehrungId])
REFERENCES [Keytable].[Waehrung] ([Id])
GO
ALTER TABLE [Finanz].[MitgliedForderung] WITH CHECK ADD FOREIGN KEY([StatusId])
REFERENCES [Keytable].[ZahlungStatus] ([Id])
GO

-- MitgliedZahlung FK constraints
ALTER TABLE [Finanz].[MitgliedZahlung] WITH CHECK ADD FOREIGN KEY([VereinId])
REFERENCES [Verein].[Verein] ([Id])
GO
ALTER TABLE [Finanz].[MitgliedZahlung] WITH CHECK ADD FOREIGN KEY([MitgliedId])
REFERENCES [Mitglied].[Mitglied] ([Id])
GO
ALTER TABLE [Finanz].[MitgliedZahlung] WITH CHECK ADD FOREIGN KEY([ZahlungTypId])
REFERENCES [Keytable].[ZahlungTyp] ([Id])
GO
ALTER TABLE [Finanz].[MitgliedZahlung] WITH CHECK ADD FOREIGN KEY([WaehrungId])
REFERENCES [Keytable].[Waehrung] ([Id])
GO
ALTER TABLE [Finanz].[MitgliedZahlung] WITH CHECK ADD FOREIGN KEY([StatusId])
REFERENCES [Keytable].[ZahlungStatus] ([Id])
GO
ALTER TABLE [Finanz].[MitgliedZahlung] WITH CHECK ADD FOREIGN KEY([ForderungId])
REFERENCES [Finanz].[MitgliedForderung] ([Id])
GO
ALTER TABLE [Finanz].[MitgliedZahlung] WITH CHECK ADD FOREIGN KEY([BankkontoId])
REFERENCES [Verein].[Bankkonto] ([Id])
GO
ALTER TABLE [Finanz].[MitgliedZahlung] WITH CHECK ADD FOREIGN KEY([BankBuchungId])
REFERENCES [Finanz].[BankBuchung] ([Id])
GO

-- MitgliedForderungZahlung FK constraints
ALTER TABLE [Finanz].[MitgliedForderungZahlung] WITH CHECK ADD FOREIGN KEY([ForderungId])
REFERENCES [Finanz].[MitgliedForderung] ([Id])
GO
ALTER TABLE [Finanz].[MitgliedForderungZahlung] WITH CHECK ADD FOREIGN KEY([ZahlungId])
REFERENCES [Finanz].[MitgliedZahlung] ([Id])
GO

-- MitgliedVorauszahlung FK constraints
ALTER TABLE [Finanz].[MitgliedVorauszahlung] WITH CHECK ADD FOREIGN KEY([VereinId])
REFERENCES [Verein].[Verein] ([Id])
GO
ALTER TABLE [Finanz].[MitgliedVorauszahlung] WITH CHECK ADD FOREIGN KEY([MitgliedId])
REFERENCES [Mitglied].[Mitglied] ([Id])
GO
ALTER TABLE [Finanz].[MitgliedVorauszahlung] WITH CHECK ADD FOREIGN KEY([ZahlungId])
REFERENCES [Finanz].[MitgliedZahlung] ([Id])
GO
ALTER TABLE [Finanz].[MitgliedVorauszahlung] WITH CHECK ADD FOREIGN KEY([WaehrungId])
REFERENCES [Keytable].[Waehrung] ([Id])
GO

-- VeranstaltungZahlung FK constraints
ALTER TABLE [Finanz].[VeranstaltungZahlung] WITH CHECK ADD FOREIGN KEY([VeranstaltungId])
REFERENCES [Verein].[Veranstaltung] ([Id])
GO
ALTER TABLE [Finanz].[VeranstaltungZahlung] WITH CHECK ADD FOREIGN KEY([AnmeldungId])
REFERENCES [Verein].[VeranstaltungAnmeldung] ([Id])
GO
ALTER TABLE [Finanz].[VeranstaltungZahlung] WITH CHECK ADD FOREIGN KEY([WaehrungId])
REFERENCES [Keytable].[Waehrung] ([Id])
GO
ALTER TABLE [Finanz].[VeranstaltungZahlung] WITH CHECK ADD FOREIGN KEY([StatusId])
REFERENCES [Keytable].[ZahlungStatus] ([Id])
GO
